@font-face {
  font-family: "gumball";
  src: url("../fonts/04b30.woff2") format("woff2"),
    url("../fonts/04b30.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alagard";
  src: url("../fonts/Alagard.eot");
  src: url("../fonts/Alagard.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Alagard.woff2") format("woff2"),
    url("Alagard.woff") format("woff"),
    url("../fonts/Alagard.ttf") format("truetype"),
    url("../fonts/Alagard.svg#Alagard") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* https://coolors.co/00a6fb-0582ca-006494-003554-00080c */

* {
  box-sizing: border-box;
}

p {
  color: white;
}

body {
  background-color: #003554;
  overflow: hidden;
}

.main {
  padding-top: 50px;
  margin-left: 230px;
}

#enableNav {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

@media screen and (max-width: 699px) {
  .main {
    margin: 0px;
  }

  #enableNav {
    display: block;
    z-index: 10;
  }
}

.wrapper {
  position: relative;
}

.header {
  text-align: center;
  width: 100%;
  padding-bottom: 5rem;
  border-width: 0 0 12px 0;
  border-style: solid;
  border-color: #030d12;
}

.header * {
  color: white;
}

.header h1 {
  font-size: 11vmax;
}

.header h2 {
  font-size: 5vmax;
}

.about p {
  font-size: 1.25rem;
}
