@font-face {
  font-family: "gumball";
  src: url("../fonts/04b30.woff2") format("woff2"),
    url("../fonts/04b30.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alagard";
  src: url("../fonts/Alagard.eot");
  src: url("../fonts/Alagard.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Alagard.woff2") format("woff2"),
    url("Alagard.woff") format("woff"),
    url("../fonts/Alagard.ttf") format("truetype"),
    url("../fonts/Alagard.svg#Alagard") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* https://coolors.co/00a6fb-0582ca-006494-003554-00080c */

* {
  box-sizing: border-box;
}

p {
  color: white;
}

body {
  background-color: #004E7A;
  overflow: hidden;
  overflow-y: auto
}

.main {
  margin-left: 230px;
}

#enableNav {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: black;
  border-radius: 5px;
}

#enableNav span {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}

#enableNav:hover {
  cursor: pointer
}

@media screen and (max-width: 699px) {
  .main {
    margin: 0px;
  }

  #enableNav {
    display: block;
    z-index: 10;
  }
}

.wrapper {
  position: relative;
}

.header {
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 5rem;
  border-width: 0 0 12px 0;
  border-style: solid;
  border-color: #030d12;
  background: linear-gradient(-45deg, #00A6FB, #db17f9);
  animation: gradient 6s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_btn {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}   
 
.header * {
  color: white; 
}

.header h1 {
  font-size: 9vmax;
}

.header h2 {
  font-size: 4vmax;
}
.section {
  height: 500px;
  border-width: 0 0 12px 0;
  border-style: solid;
  border-color: #030d12;
}


.skills {
  height: 500px;
  border-width: 0 0 12px 0;
  border-style: solid;
  border-color: #030d12;
}

.section p {
  font-size: 1.7rem;
  margin-left: 4rem;
  text-align: left;

}

.experience {
  height: auto;
  padding-bottom: 3rem;
}
.about {
  height: auto;
  padding-bottom: 3rem;
}
.contact {
  height: auto;
  padding-bottom: 3rem;
}

.section-header {
  font-size: 4rem;
  color: white;
  opacity: 20%;
  margin: 15px
}



.experience img {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  width:50%;
  height: auto;
}


.resume {
  border: solid white 2px; 
  color: white;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 20%;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 30px;
  
}

.resume:hover{
  cursor: pointer;
  background: linear-gradient(-45deg,#006494,#db17f9);
  animation: gradient_btn 2s ease 1  forwards;
  background-size: 400% 400%;
}

.contact div {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;

}
input {
  background-color: #030d12;
  color: white; 
   padding: 12px 20px;
   border: solid white 2px; 
  cursor: pointer;
}