@font-face {
  font-family: "Alagard";
  src: url("../fonts/Alagard.eot");
  src: url("../fonts/Alagard.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Alagard.woff2") format("woff2"),
    url("Alagard.woff") format("woff"),
    url("../fonts/Alagard.ttf") format("truetype"),
    url("../fonts/Alagard.svg#Alagard") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: #030d12;
  position: fixed;
  min-height: 750px;
  z-index: 9; 
}

.nav_header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  flex: 1 1 auto;
}

.nav_header_container img {
  width: 150px;
  height: 150px;
}

.nav_header_container h2 {
  text-align: center;
  margin-bottom: 0;
  color: white;
  font-size: x-large;
}
.nav_header_container h4 {
  color: whitesmoke;
  text-align: center;
  margin-top: 0;
  font-size: medium;
}

.nav_button_container {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1 1 auto;
}
.nav_footer {
  display:flex;
  /* border-width: 1px 0 0 0;
  border-color: white;
  border-style: solid; */
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}



#dropBtn {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

#dropBtn span {
  line-height: 40px; vertical-align: middle;
}



#food {
  position: absolute;
  display: none;
  width: 10px;
  height: 10px;
  background-color:violet;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
}

#luxray {
  position:absolute;
  bottom: 0px;
  width: 45px;
  height: 45px;
  left: 50px;
  transform: scaleX(-1);
}

#heart {
  display: none;
  position: absolute;
  bottom: 55px;
  width: 41px;
  height: 41px;
}


.sidebar .nav_button{
  border: solid white 2px; 
  color: white;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 85%;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.nav_button:hover,#dropBtn:hover {
  cursor: pointer;
  background: linear-gradient(-45deg,#006494,#db17f9);
  animation: gradient_btn 2s ease 1  forwards;
  background-size: 400% 400%;
}


@media screen and (max-height: 830px) and (min-width: 700px) {
  .nav_footer {
    display: none;
  }
  .animate_obj {
    display: none;
  }
  .sidebar .nav_button_container {
    height: 60%;
  }


  .sidebar {
    padding-top: 30px;
  }


  .sidebar .nav_button {
    padding-top: 5px;
    padding-bottom: 5px;
  }


}

@media screen and (max-width: 699px) {
  .sidebar {
    width: 100%;
    height: 100%;
    overflow-y:auto;
    display:none;
    min-height: none;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #logobackdrop img{
    object-fit: cover
  }

  .nav_header_container {
    margin-top: 4rem;
  }

  .nav_button_container {

    height: 60%;
    flex-wrap: wrap;
  }

  .nav_footer {
    display:none
  }

.sidebar .nav_button {
  width: 45%;
  margin-right: 10px;
  margin-left: 10px;
}

  .nav_button, #dropBtn {
    cursor: pointer;
    background: conic-gradient(-45deg,#006494,#db17f9);
    animation: gradient 2s ease infinite;
    background-size: 400% 400%;
  }
}


